
// --------- FUNCTIONS -----------

.user-select-none() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.absolute(@top,@right,@bottom,@left) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.print-hide() {
  @media print { display:none; }
}

// --------- VARIABLES -----------

@color13thAge: #400602;
@fontSizeBig: 160%;


// -------------------------------

body {
  font-family: 'Open Sans', sans-serif;
}

.char-creator {

  .sheet {
    width: 8in;
    height: 10.5in;
    border: 1px solid #fff;
  }

  @media print {
    -webkit-print-color-adjust:exact;
    .ctrls {
      display:none;
    }
  }

  // header bar
  .header {
    position: relative;

    img.logo {
      width: 150px;
    }

    .entries {
      div {
        vertical-align: bottom;
        position: absolute;
        border-bottom: 1px solid #ccc;
        font-size: 200%;
        top: 18px;
        left: 160px;
        width: 300px;
        color: #333;
      }

      .race,.level {
        left: 475px;
        width: 280px;
      }

      .class,.level {
        top: 80px;
      }

      .label {
        font-variant: small-caps;
      }

      .text {
        display: inline-block;
        float: right;
        color: #000;
        padding-right: 10px;
      }
    }
  }

  .stats {
    position: relative;
    .user-select-none;
  }


  // select is displayed on hover
  .hidden-select {
    select { display:none; }
    &:hover {
      select { display:inline; }
      span { display:none; }
    }
  }

  // ability score table
  .abilities table {
    position: absolute;
    left: 50px;
    border-collapse: collapse;
    @width: 45px;
    @height: 50px;

    td {
      width: @width;
      text-align: center;
    }

    tr.modifier-only td {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      height: @height/2;
    }

    tr.blocks td {
      height: @height;
      border: 4px solid black;
      font-size: @fontSizeBig;

      &.hilite { background: #F3FAB6; }
      &.hilite2 { background: #d9eef2; }
    }

    td.initiative {
      color: white;
      background: black;
      font-size: 8px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .updown {
      span {
        color: #aaa;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }

  // defenses
  .defenses {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 380px;

    .defense {
      @topHeight: 18px;
      @textHeight: 42px;
      text-align: center;
      position: relative;
      width: 100px;
      height: @textHeight + @topHeight;
      display: inline-block;
      margin: 0px 5px;

      :nth-child(1) {
        font-variant: small-caps;
        font-size: 10pt;
        height: @topHeight;
      }

      :nth-child(2) {
        position: absolute;
        background: black;
        color: white;
        border-top-left-radius: 10px;
        left: 0px;
        top: @topHeight;
        bottom: 0px;
        width: 20px;
        padding-top: 3px;
        line-height: 120%;
      }

      :nth-child(3) {
        position: absolute;
        top: @topHeight;
        left: 17px;
        right: 0px;
        border: 3px solid black;
        bottom: 0px;
        text-align: right;
        font-size: 180%;
        line-height: @textHeight - 3px;
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }

  // health
  .health {
    position: absolute;
    left: 385px;
    top: 91px;

    .box {
      @boxHeight: 50px;
      text-align: center;
      display: inline-block;
      padding-right: 10px;

      div + div {
        width: 130px;
        height: @boxHeight;
        border: 3px solid black;
        span {
          height: @boxHeight;
          line-height: @boxHeight;
          font-size: 180%;
          float: right;
          width: 50%;
          background: #eee;
          border-left: 2px dotted black;
        }
      }
    }
  }
}


.jn-main {
  @sbWidth: 200px;
  position: relative;
  .absolute(0,0,0,0);

  .content {
    .absolute(0,0,0,@sbWidth);
    overflow: scroll;
    @media print {
      left: 0px;
      overflow:visible;
    }
  }

  & > a {
    .print-hide;
  }

  .sidebar {
    .print-hide;
    .absolute(0,auto,0,0);
    width: @sbWidth - 16px;
    background: @color13thAge;
    box-shadow: 3px 0px 5px #888;
    color: white;
    overflow-y: scroll;
    padding: 3px;

    select {
      width: 100%;
    }
  }
}

