<div class="char-creator">

  <div class="ctrls">
  <b>Recovery</b> {{char.level}}d{{classDef.recovery}} x {{char.level}} {{mod(char.con)}}<br>
  <b>Points:</b> {{points()}}<br>
  <hr>
  </div>
  <div class="sheet">

    <div class="header">
      <img class="logo" src="img/13thAgeLogo.jpg">
      <div class="entries">
        <div class="name"><span class="label">Name</span></div>
        <div class="race">
          <span class="label">Race</span>
          <span class="text">{{char.race}}</span>
        </div>
        <div class="class">
          <span class="label">Class</span>
          <span class="text">{{char.cls}}</span>
        </div>
        <div class="level">
          <span class="label">Level</span>
          <span class="text">{{char.level}}</span>
        </div>
      </div>
    </div>

    <div class="stats">

      <!-- abilities -->
      <div ng-mouseleave="hoverStat=null" class="abilities">
        <table cellspacing="0">
          <tr>
            <td ng-repeat="a in abilities" ng-mouseover="hover(a)">{{a.toUpperCase()}}</td>
          </tr>
          <tr class="blocks">
            <td ng-repeat="a in abilities" ng-mouseover="hover(a)"
              ng-class="{hilite:a==hilite[1],hilite2:(a==hilite[0] || a==hilite[2])}">{{char[a]}}</td>
          </tr>
          <tr class="modifier-only">
            <td ng-repeat="a in abilities" ng-mouseover="hover(a)">
              <span ng-if="a != hoverStat">{{char.mod(a)}}</span>
              <span ng-if="a == hoverStat" class="updown">
                <span ng-click="inc(a,1)">▲</span>
                <span ng-click="inc(a,-1)">▼</span>
              </span>
            </td>
          </tr>
          <tr class="blocks">
            <td ng-repeat="a in abilities" ng-mouseover="hover(a)">{{char.mod(a,true)}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="initiative">INITIATIVE</td>
          </tr>
        </table>
      </div>

      <!-- defenses -->
      <div class="defenses" ng-mouseleave="hiDefense()">
        <div class="defense" ng-mouseover="hiDefense('ac')">
          <div>Armor Class</div>
          <div>A<br>C</div>
          <div>{{char.ac()}}</div>
        </div>

        <div class="defense" ng-mouseover="hiDefense('pd')">
          <div>Physical Defense</div>
          <div>P<br>D</div>
          <div>{{char.pd()}}</div>
        </div>

        <div class="defense" ng-mouseover="hiDefense('md')">
          <div>Mental Defense</div>
          <div>M<br>D</div>
          <div>{{char.md()}}</div>
        </div>
      </div>

      <!-- hit points -->
      <div class="health">
        <div class="box">
          <div>HIT POINTS</div>
          <div><span>{{char.hp()}}</span></div>
        </div>

        <div class="box">
          <div>RECOVERIES</div>
          <div><span>8</span></div>
        </div>
      </div>
    </div>

  </div>
</div>
