<div class="jn-main">
  <div class="sidebar">
    <select ng-model="char.level" ng-options="x.val as x.name for x in levels"></select>
    <select ng-model="char.class" ng-options="key as key for (key,value) in classes"></select>
    <input type="text" ng-model="char.name">
  </div>
  <div class="content">
    <area skew="PngSheet" char="char">
  </div>
  <a href="https://github.com/jinxidoru/13th-age-chargen">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
  </a>
</div>
